<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='base.css') }}"
      
    />
    <script src="https://use.fontawesome.com/ef8b4869a8.js"></script>
    <title>Kanban Board</title>
  </head>
  <body>
    <h1>Kanban Board</h1>
    <div>
      <!-- Show the wtf form  -->
      <form method="POST" action="/add">
 
          {{ form.csrf_token() }}
          <div>
            <label for="">{{ form.title.label }}</label>
              {{ form.title }}
          </div>
          <div>
            <label for="">Select State</label>
              {{ form.state }}
          </div>
            {{ form.submit(id="submit-button")}} 
      </form>
    </div>
  <!-- 
    -- board div
     --- contain one div
        -- cards div
     --- container two div
        -- cards div
     --- container three div
         -- cards div 
    -->
    <div class="board">
      <div class = 'container'id="first-container">
        <h3>Todo</span></h3>
        <!-- show the todo item  -->
        {% for todo in todo_list%}
        {% if todo.state == "todo"%}
        <div class="card">
          <span>{{todo.title}}</span>
          <a href="/delete/{{todo.id}}"><span class="fa fa-trash" id="delete-button"></a>
          <a href="/update_right/{{todo.id}}"><span class="fa fa-arrow-right" id="right-button"></a>

        </div>
        {% endif %}
        {% endfor %}
        <!-- end of show the todo item  -->
      </div>
      <div class = 'container' id="second-container">
        <h3>In Progress</h3>
                <!-- show the todo item  -->
        {% for todo in todo_list%}
        {% if todo.state == "in-progress"%}
        <div class="card">
          <span>{{todo.title}}</span>
                    <!-- delete and move buttons -->
          <a href="/delete/{{todo.id}}"><span class="fa fa-trash" id="delete-button"></a>
          <a href="/update_right/{{todo.id}}"><span class="fa fa-arrow-right" id="right-button"></a>
          <a href="/update_left/{{todo.id}}"><span class="fa fa-arrow-left" id="left-button"></a>


        </div>
        {% endif %}
        {% endfor %}
        <!-- end of show the todo item  -->
      </div>
      <div class = 'container' id="third-container">
        <h3>Done</h3>
                <!-- show the todo item  -->
        {% for todo in todo_list%}
        {% if todo.state == "done"%}
        <div class="card">
          <span>{{todo.title}}</span>
          <!-- delete and move buttons  -->
          <a href="/delete/{{todo.id}}"><span class="fa fa-trash" id="delete-button"></a>
          <a href="/update_left/{{todo.id}}"><span class="fa fa-arrow-left" id="left-button"></a>

        </div>
        {% endif %}
        {% endfor %}
        <!-- end of show the todo item  -->
      </div>
    </div>
  </body>
</html>
